.paginator
{
	font: 12px Arial, Helvetica, sans-serif;
	padding: 10px 20px 10px 0;
	margin: 0px;
}
.paginator a
{
	border: solid 1px #ccc;
	color: #0063dc;
	cursor: pointer;
	text-decoration: none;
}
.paginator a:visited
{
	padding: 1px 6px;
	border: solid 1px #ddd;
	background: #fff;
	text-decoration: none;
}
.paginator .cpb
{
	border: 1px solid #F50;
	font-weight: 700;
	color: #F50;
	background-color: #ffeee5;
}
.paginator a:hover
{
	border: solid 1px #F50;
	color: #f60;
	text-decoration: none;
	background: #A5151C;
}
.paginator a, .paginator a:visited, .paginator .cpb, .paginator a:hover
{
	float: left;
	height: 16px;
	line-height: 16px;
	min-width: 10px;
	_width: 10px;
	margin-right: 5px;
	text-align: center;
	white-space: nowrap;
	font-size: 12px;
	font-family: Arial,SimSun;
	padding: 0 3px;
}


table th
{
	color: #ff6600;
	border-right: 1px solid #f9ddaf;
	border-bottom: 1px solid #f9ddaf;
	border-top: 1px solid #f9ddaf;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url("../img/table_head.gif") repeat-x;
	width: 120px;
}
table th.nobg
{
	border-left: 1px solid #f9ddaf;
	width:40px;
}
table th.title
{
	width: 600px;
}
table th.th_btn
{
	width: 60px;
}
table td
{
	border-right: 1px solid #f9ddaf;
	border-bottom: 1px solid #f9ddaf;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #57777F;
}
table td.spec
{
	border-left: 1px solid #f9ddaf;
	border-top: 0;
	background: #fff url("../img//bullet1.gif") no-repeat;
}
table td .btnclass
{
	border: 1px solid #f9ddaf;
	height: 22px;
	width: 44px;
	text-align: center;
	cursor: pointer;
}
table td .btnclass:hover
{
	border: 2px solid #F5C87F;
}
.btnSearch
{
	width: 71px;
	height: 29px;
	border: 0px;
	cursor: pointer;
	background: url("../img/btn_bg.jpg") -342px 0;
	color: #D63600;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.txtTeacherName
{
	height: 22px;
	border: 1px solid #999;
	line-height: 22px;
	width: 150px;
	background: #FFF;
}
.btnCreate
{
	width: 80px;
	height: 31px;
	background: url("../img/btnbg1.gif");
	color: white;
	border: 0;
	cursor: pointer;
	text-align: center;
}

