*
{
	font-size: 12px;
	font-family: Verdana, "宋体" , sans-serif;
	padding: 0;
	text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;
}
ul,li
{
	list-style:none;
}
a:hover
{
	text-decoration: underline;
}
input, select, form img, button
{
	vertical-align: middle;
    margin-top: 0px;
}
button
{
	cursor: pointer;
	border: 0;
}
img
{
	border: 0;
}
body
{
	background: #FFF url("../img/bg_body.png") repeat-y;
	background-position: center;
}
.master_warp
{
	width: 960px;
	margin: 0 auto;
}
.foremaster_top
{
	overflow: hidden;
}
.master_warp .foremaster_content
{
	background: #FFF;
	border: 1px solid #CCC;
	padding: 10px;
}
.master_warp .foremaster_bottom
{
	height: 50px;
	text-align:center;
}
.master_warp .map
{
	width: 958px;
	height: 30px;

	background:url("../img/crumb_bg.gif") ;
}
/*文本框样式*/
.txtClass
{
	width: 216px;
	height: 20px;
	background: transparent url("../img/textboxcc.jpg") no-repeat;
	border: none;
	color: #747862;
	padding: 4px 8px;
	margin-bottom: 0px;
}
/*Select样式*/
.selectClass
{
	height: 24px;
	width: 120px;
	color: #666;
	font-size: 14px;
	background:#FFF;
}
.TextAreaClass
{
	border: 2px #CCC solid;
	background: #FFF;
	padding: 5px;
	font-size: 14px;
	color: #666;
	text-align: left;
	overflow-y: visible;
}
/*按钮样式1*/
.btnClass1
{
	border: 0px;
	cursor: pointer;
	width: 74px;
	height: 29px;
	background: url("../img/btn_bg1.gif");
	color: #F53D00;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-indent:1em;
}
.btnClass1:hover
{
	background-position: 0 -29px;
}
/*按钮样式2*/
.btnClass2
{
	border: 0px;
	cursor: pointer;
	width: 100px;
	height: 35px;
	background: url("../img/login_btn00.gif");
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.btnClass2:hover
{
	background-position: 0 -35px;
}
/*按钮样式3*/
.btnClass3
{
	border: 0px;
	cursor: pointer;
	width: 100px;
	height: 35px;
	background: url("../img/login_btn.gif") -100px 0;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.btnClass3:hover
{
	background-position: -100px  -35px;
}
/*按钮样式4*/
.btnClass4
{
	border: 0px;
	cursor: pointer;
	width: 110px;
	height: 37px;
	background: url("../img/btn_bg2.gif") ;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.btnClass4:hover
{
	background-position: 0  -37px;
}

/*网格按钮样式*/
.btnGrid
{
	text-align:center;
	border:#CCC solid 1px;
	cursor:pointer;
	width:40px;
	height:20px;
}
.btnGrid:hover
{
	border:1px solid #999;
}
