
.classTable  td
{
	padding:10px;
}
.classTable .td_1
{
	width:700px;
}
.classTable tr
{
	height:40px;
}
.btnSearch
{
	background:url("../img/btn_bg.jpg");
	width:78px;
	height:32px;
	border:0px;
	text-align:center;
	color:#FFF;
	font-size:14px;
	cursor:pointer;
}
