div
{
	text-align:center;
}
.CreateNoticeNews_top
{
	height:50px;
	font-size:28px;
	text-indent:1em;
	line-height:50px;
}
.CreateNoticeNews_title
{
	height:40px;
	font-size:14px;
	line-height:40px;

	
}
.CreateNoticeNews_title input
{
	height:30px;
	width:680px;
	font-size:18px;
	background:#FFF;
	border:1px solid #999;
	line-height:30px;
}
.CreateNoticeNews_content  .ke-container
{
	margin:0 auto;
}
.CreateNoticeNews_content .btnCreate
{
	width:80px;
	height:31px;
	background:url("../img/btnbg1.gif");
	color:#FFF;
	border:0;
	cursor:pointer;
	text-align:center;
}
.CreateNoticeNews_content .TextArea
{
	width:740px;
	height:600px;
}