.paginator
{
	font: 12px Arial, Helvetica, sans-serif;
	padding: 10px 20px 10px 0;
	margin: 0px;
}
.paginator a
{
	border: solid 1px #ccc;
	color: #0063dc;
	cursor: pointer;
	text-decoration: none;
}
.paginator a:visited
{
	padding: 1px 6px;
	border: solid 1px #ddd;
	background: #fff;
	text-decoration: none;
}
.paginator .cpb
{
	border: 1px solid #F50;
	font-weight: 700;
	color: #F50;
	background-color: #ffeee5;
}
.paginator a:hover
{
	border: solid 1px #F50;
	color: #f60;
	text-decoration: none;
	background: #A5151C;
}
.paginator a, .paginator a:visited, .paginator .cpb, .paginator a:hover
{
	float: left;
	height: 16px;
	line-height: 16px;
	min-width: 10px;
	_width: 10px;
	margin-right: 5px;
	text-align: center;
	white-space: nowrap;
	font-size: 12px;
	font-family: Arial,SimSun;
	padding: 0 3px;
}
.BackNoticeNewsList_top
{
	height: 40px;
	color: #333;
	font-size: 14px;
	padding-left: 20px;
	width:700px;
	vertical-align:middle;
}

.BackNoticeNewsList_top,.BackNoticeNewsList_center
{
	
}
.BackNoticeNewsList_center table
{
	width:740px;
}
.BackNoticeNewsList_center table th
{
	color: #ff6600;
	border-right: 1px solid #f9ddaf;
	border-bottom: 1px solid #f9ddaf;
	border-top: 1px solid #f9ddaf;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url("../img/table_head.gif") repeat-x;
}
.BackNoticeNewsList_center table th.nobg 
{
	border-left:1px solid #f9ddaf;
	width:400px;
}
.BackNoticeNewsList_center table td
{  
	border-right: 1px solid #f9ddaf;
	border-bottom: 1px solid #f9ddaf;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #57777F;

}
.BackNoticeNewsList_center table td.spec {	
	border-left: 1px solid #f9ddaf;
	border-top: 0;
	background: #fff url("../img//bullet1.gif") no-repeat;
}
.BackNoticeNewsList_center table td .btnclass
{
	border:1px solid #f9ddaf;
	height:22px;
	width:44px;
	text-align:center;
	cursor:pointer;
}
.BackNoticeNewsList_center table td .btnBackNoticeNewsList:hover
{
	border:2px solid #A3C8C4;
}
