.leave_top
{
	height: 50px;
	color: #666;
	font-size: 14px;
	line-height: 50px;
	border: 1px dashed #999;
	padding-left: 20px;
	width:806px;
}
.leave_top .txtleave
{
	height: 30px;
	width: 300px;
	color: #999;
	font-size: 14px;
}
.leave_top .btnOK
{
	background: url("../img/btn_bg.jpg");
	width: 71px;
	height: 29px;
	border: 0px;
	text-align: center;
	color: white;
	font-size: 14px;
	cursor: pointer;
	background-position:-88px -44px;
}
.leave_top,.leave_center
{
	margin:20px auto auto 20px;
}
#TextArea1
{
	background:#FFF;
	color:#666;
	font-size:16px;
	border:#2px solid #666;
	padding:5px;
}
