.myTable
{
	margin: 20px auto;
}
.myTable .td_title
{
	font-size: 28px;
	font-weight: bold;
}
.myTable tr
{
	height: 50px;
}
.myTable tr td
{
	padding: 8px;
	text-align:center;
}
.myTable tr td input
{
	background: #FFF;
	border: 1px solid #999;
	width: 200px;
	height: 26px;
	line-height: 26px;
}
.myTable tr td
{
	font-size: 16px;
}
.myTable tr td input.btnOK
{
	width: 71px;
	height: 29px;
	border: 0px;
	cursor: pointer;
	background: url("../img/btn_bg.jpg") -342px 0;
	color: #D63600;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
