.BackDrviceMaintenance_Content
{
	height: 400px;
}

.right .right2
{
	height: 560px;
}
#idMyTable
{
	width: 700px;
}
table td .btnclass
{
	border: 1px solid #f9ddaf;
	height: 22px;
	width: 44px;
	text-align: center;
	cursor: pointer;
}
table tr
{
	height: 50px;
	height: 40px \9;
}
table td
{
	border-bottom: #CCC solid 1px;
	padding: 5px;
}
table .th_1
{
	width: 400px;
}
table .th_2
{
	width: 140;
}
table .th_3
{
	width: 150;
}
table .th_4
{
	width: 150;
}
.BackDrviceMaintenance_bottom
{
	border: 2px dashed #FF9470;
	height: 100px;
	width: 700px;
	padding: 10px;
	font-size: 14px;
	line-height: 50px;
}
.txtResourceTitle, .txtPath
{
	border: 1px #999 solid;
	width: 300px;
	height: 22px;
	color: #666;
	font-size: 14px;
	margin-left: 5px;
	background:#FFF;
	line-height:22px;
}
.div_btn
{
	height:30px;

}

.btnSave
{
	width: 71px;
	height: 29px;
	border: 0px;
	cursor: pointer;
	background: url("../img/btn_bg.jpg") -342px 0;
	color: #D63600;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
